{% extends 'base.html.twig'%}
{% block body %}
	<h1>BIENVENUE CHEZ LE BOSS</h1>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti quasi corporis quo officiis ut vitae?</p>
	<p>Cupiditate adipisci placeat delectus exercitationem voluptatem assumenda ad. Adipisci repellat consequatur nisi eaque et natus!</p>
{% endblock %}
