{% extends 'base.html.twig' %}
{% block body %}
	article>
	<h2>titre de l 'article</h2>
	<div class="metadata">ecrit le 14/03/23 a 9h35 dans la categorie politique</div>
	<div class="content">
		<img src="http://placehold.it/350x150" alt="">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quia provident quaerat, molestias dolores vel?</p>
		<p>A deserunt, pariatur tempore, rem, commodi earum omnis error corrupti officiis expedita quis facere dolorum!</p>
		<hr>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ullam hic maxime, at neque impedit minus dolor earum porro possimus doloribus corrupti cupiditate labore accusantium cumque quae. Ullam corrupti natus, aliquid dignissimos omnis laboriosam hic cupiditate error atque harum. Adipisci, facilis ipsum eveniet possimus harum eos numquam, omnis ea quidem temporibus hic quia ab reprehenderit reiciendis in, amet delectus? Atque iusto nihil praesentium ex. Doloremque dolor inventore alias, neque repellendus eligendi odit nobis aliquid mollitia dignissimos omnis tempore? Aspernatur dolore labore, quisquam facere consequatur ipsa enim voluptatem, unde sapiente voluptatum deserunt quibusdam. Facere labore doloremque ea alias deserunt molestias distinctio. Temporibus, ut consectetur. Minus unde neque doloribus laboriosam consectetur illo nam corporis nemo repellendus, dolore ratione possimus odit nobis vel iure ut delectus? Voluptatem nulla nihil recusandae quidem a maxime modi, voluptas eligendi error laborum suscipit quos tempora unde reprehenderit veritatis asperiores ipsum molestias animi debitis eaque. Molestiae, provident dicta.</p>
		<p>Odio aliquam voluptates voluptate? Omnis tempore rerum labore eius non dolore veniam, eos doloremque accusantium, sequi libero alias. Dolorem delectus quae porro placeat corrupti corporis cumque repellendus, distinctio nobis est harum, itaque consequuntur! Nisi, vero, atque dignissimos minus, iste architecto aliquam quis rem quod sunt deserunt et recusandae dolores aliquid quae. Nam eius quas omnis doloribus quae quos, provident fugit porro necessitatibus reiciendis consequuntur fuga voluptas ut error repellat optio odio, adipisci non dignissimos pariatur aut! Distinctio harum odit, temporibus sed architecto labore voluptatem adipisci soluta omnis suscipit dolore eos maiores nulla mollitia numquam eveniet dicta. Minus dolores eum alias id dolorum sit odio temporibus, hic velit, neque vitae, ab perferendis nobis! Quas aperiam deserunt placeat, voluptatum corporis molestiae sapiente eveniet. Eos ex amet iusto illum, hic at soluta minus est in? Vitae nulla quidem, tenetur numquam exercitationem officia a molestias blanditiis alias voluptatem, minima nihil non vero eaque deleniti.</p>
	</div>
</article>{% endblock %}
